@font-face {
	font-family: 'Futura';
	src: url('../fonts/FuturaLTLight.woff');
}
body {
	font-family: 'Futura', sans-serif;
	color: #1C1C1C;
}
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
	clear:both;
}

form {
	text-align: center;
}
header {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.trultLogo h1 {
	font-size: 14rem;
	margin: 60px auto 80px auto;
	cursor: default;
}
.search {
	margin: 10px auto;
	width: 100%;
	text-align: center;
}
.mid {
	display: block;
	margin: 0 auto 30px auto;
}
.mobile {
	display: none;
}
.inp {
	width: 350px;
}
.but {
	width: 150px;
	font-weight: 900;
	color: #fff;
	border: 2px solid #58B2DC;
	background-color: #58B2DC;
}
.butHide {
	display: none;
}
@media (max-width : 960px) {
	table {
		width: 100%;
	}
	.inp {
		width: 70%;
	}
	.but {
		width: 100px;
		font-weight: 900;
		color: #fff;
		border: 0;
		background-color: #58B2DC;
	}
}
.but:hover {
	background-color: #81C7D4;
}
.but:active {
	background-color: #0D5661;
}
.runjuu {
	font-size: 16px;
	position: absolute;
	left: 10px;
	bottom: 5px;
	color: #fff;
	cursor: default;
}
.trult {
	font-size: 16px;
	position: absolute;
	right: 10px;
	bottom: 5px;
	cursor: default;
}
@media (max-width : 480px) {
	.pc {
		display: none;
	}
	.search {
		width: 100%;
	}
	.mobile {
		display: block;
	}
	.trultLogo h1 {
		font-size: 6rem;
		margin: 30px auto 44px auto;
		cursor: default;
	}
	.but {
		display: none;
	}
	.inp {
		width: 65%;
	}
	.butHide {
		display: inline;
		width: 27%;
		font-weight: 900;
		color: #fff;
		border: 2px solid #58B2DC;
		background-color: #58B2DC;
	}
	.runjuu, .trult {
		font-size: 0.5rem;
	}
}
.runjuu:hover {
	color: rgba(28,28,28,0.5);
}