@font-face {
	font-family: 'Futura';
	src: url('../fonts/FuturaLTLight.woff');
}
body {
	font-family: 'Futura', sans-serif;
	color: #1C1C1C;
}

form {
	text-align: center;
	margin-bottom: 10px;
}
header {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.trultLogo h1 {
	font-size: 14rem;
	font-weight: 600;
	margin: 60px auto 80px auto;
	cursor: default;
}
.search {
	margin: 10px auto;
	width: 100%;
	text-align: center;
}
textarea,
input[type="text"],
input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	outline: none;
}
textarea,
input[type="text"] {
	border-width: 1px;
	border-style: none solid none solid;
	border-color: rgba(28,28,28,0.4); 
}
.but input[type="submit"] {
	width: 150px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	border: 2px solid #1C1C1C;
	background-color: #1C1C1C;
}
.mid {
	display: inline-block;
	margin: 0 auto 30px auto;
}
.mobile {
	display: none;
}
.inp {
	width: 350px;
}
.but {
	width: 150px;
	font-weight: 900;
	color: #fff;
	text-align: center;
	border: 2px solid #1C1C1C;
	background-color: #1C1C1C;
}
.butHide {
	display: none;
	text-align: center;
}
@media (max-width : 960px) {
	table {
		width: 100%;
	}
	.inp {
		width: 70%;
	}
	.but {
		display: none;
	}
	.butHide {
		display: inline;
		width: 100px;
		text-align: center;
		font-weight: 900;
		color: #fff;
		border: 2px solid #1C1C1C;
		background-color: #1C1C1C;
	}
}
.but:hover {
	background-color: #434343;
	border: 2px solid #434343;
}
.but:active {
	font-size: 0.99rem;
	border: 2px solid #1C1C1C;
	background-color: #1C1C1C;
}
.runjuu {
	font-size: 16px;
	position: absolute;
	left: 10px;
	bottom: 5px;
	color: #fff;
	cursor: default;
}
.trult {
	font-size: 16px;
	position: absolute;
	right: 10px;
	bottom: 5px;
	cursor: default;
}
@media (max-width : 480px) {
	.pc {
		display: none;
	}
	form {
		margin: 0 20px 0 20px;
	}
	.mid {
		width: 90%;
		margin: 0 auto 30px auto;
	}
	.mobile {
		display: block;
	}
	.trultLogo h1 {
		font-size: 6rem;
		margin: 30px auto 44px auto;
		cursor: default;
	}
	.but {
		display: none;
	}
	.inp {
		width: 100%;
	}
	.butHide {
		display: inline;
		width: 40%;
		text-align: center;
		line-height: 30px;
		font-weight: 900;
		color: #fff;
	}
	.runjuu, 
	.trult {
		font-size: 0.5rem;
	}
}
.runjuu:hover {
	color: rgba(28,28,28,0.5);
}